body{
    background-color: black;
}

img{
    width: 160px;
    height: 160px;
    float: left;
    


}
h1{
font-family: Lucida Sans; 
margin-top: 1em;
left: 50em;
color: aliceblue;
margin: auto;
}